

body{
  background-color: #232223;
  font-family: "Montserrat", "Avenir";
  margin:0;
}

h1 {
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  color: white;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

#labelForGuess {
  font-size: 200%;
}

button{
  border: none;
  background: none;
  text-transform: uppercase;
  height:100%;
  font-weight:700;
  color: steelblue;
  letter-spacing: 1px;
  outline: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

button:hover{
  color:white;
  background-color: steelblue;
}

#easyMode{
  background-color: white;
}


#hardMode{
  background-color: steelblue;
  color:white;
}


#response{
  color:steelblue;
  display: inline-block;
  width: 20%;
}
.controls{
  background-color: white;
  text-align: center;
  height: 30px;
  margin:0;
}


.squareContainer{
  width: 40%;
  margin: 20px auto;


}


.square{
  width: 30%;
  background: red;
  padding-bottom:30%;
  float: left;
  margin: 1%;
  border-radius: 15%;
  transition: all 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
}




